apiVersion: v1
kind: ConfigMap
metadata:
  name: env-config
data:
  AWS_BUCKET: "YOUR_AWS_BUCKET_NAME"
  AWS_REGION: "YOUR_AWS_REGION"
  AWS_PROFILE: "YOUR_AWS_PROFILE"
  POSTGRES_HOST: "YOUR_POSTGRES_HOST"
  POSTGRES_DB: "YOUR_POSTGRES_DB_NAME"
  URL: "http://localhost:8100"
